<!DOCTYPE html>
<html lang="en">
<head>
  <title>contact us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color:white;
  padding: 10px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}
body{
    background-color: teal;
}
.container1{
    text-align:center;
    color:blanchedalmond
}

       </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/home">HOME</a></li>
        <li><a href="/home/eventlist">EVENTS</a></li>
        <li><a href="/home/register">REGISTERATION</a></li>
        <li class="active"><a href="/home/contact">CONTACT US</a></li>
        <li><a href="/home/winner">WINNERS</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/home/register"><span class="glyphicon glyphicon-log-in"></span> REGISTER NOW</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container1">
    <h1>Mobile    No- <a href="#">+91 8608970465</a></h1>
    <h1>Whats app - <a href="#">+91 9514965825</a></h1>
<h1>E-mail   Address    -    <a href="mailto:indconnections@yahoo.com">mohamedishok1@gmail.com</a></h1>
</div>
<div class="container">
<form>
    <label for="subject">FEEDBACK</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

<div class="footer">
    
    <a href="https://int.search.myway.com/search/GGmain.jhtml?ct=ARS&n=7867b5f2&p2=%5ECG7%5Echr999%5ETTAB03%5E&pg=GGmain&pn=1&ptb=18997BBC-FAE4-4DE2-B677-EDFA88DAAC7A&qs=&si=&ss=sub&st=tab&trs=wtt&searchfor=Facebook+Official+Website&feedurl=%252Fars%252Ffeedback%253ForiginalQuery%253Dfacebook%252Baccount%252Blogin%2526relatedQuery%253Dfacebook%252Bofficial%252Bwebsite&tpr=jrel3&ots=1593772499944" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://instagram.com/_samee_ra_?igshid=1n3q3lzfwi407" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://accounts.snapchat.com/accounts/login?continue=https%3A%2F%2Faccounts.snapchat.com%2Faccounts%2Fwelcome" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
    <a href="flickr.com" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
    <a href="https://twitter.com/login" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/login" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
    </div>

    

  
  </body>
  </html>